@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilos globais */
.tittle {
  font-size: 3.5em;
  text-align: center;
  color: #2a8105;
  
  
}

body{
  background-color: #fff;
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: transparent;
  color: #333;
  margin-bottom: 20px;
  background-color: #32A69A;
}

.logo{
}

.navbar a{
  position: relative;
  font-size: 19px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%
}

.active::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust this value to position the bar where you want */
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
}

.spacer {
  height: 70px;
}

.tittle-main {
  font-size: 3.5em;
  text-align: center;
  color: #8C0D2F5;
  font-weight: bold;
  padding: 10px 20px;;
  }




main {
  padding: 20px;
  margin-left: 12%;
  margin-right: 12%;
}


/* Seção de informações */
.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.text-content {
  flex: 1;
  margin-right: 20px;

}

.text-content h3 {
  color: #2a8105;
  font-size: 1.5em;
}

.text-content p {
  font-size: 1.1em;

}

.carousel-container {
  flex: 1;
  max-width: 600px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Estilo para o contêiner do carrossel */
.carousel-container {
  position: relative; /* Define o posicionamento relativo */
  flex: 1;
  max-width: 600px;
  margin: 50px auto 0; /* Adicionei margem superior de 50px e removi a margem inferior */
}

/* Estilo para os botões do carrossel */
/* Estilo para os botões do carrossel */
.carousel-buttons {
  position: absolute; /* Define o posicionamento absoluto */
  top: 50%; /* Coloca os botões no meio verticalmente */
  width: 100%; /* Ocupa toda a largura do contêiner */
  display: flex;
  justify-content: space-between; /* Distribui os botões à esquerda e à direita */
  transform: translateY(-50%); /* Ajusta a posição verticalmente */
}

.carousel-buttons button {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0); /* Cor de fundo com transparência */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  align-self: center; /* Alinha verticalmente o botão dentro do contêiner */
}

/* Estilo para quando o botão estiver sendo hover (passar o mouse por cima) */
.carousel-buttons button:hover {
  background-color: rgba(0, 0, 0, 0); /* Cor de fundo alterada */
}



.prev, .next {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Seção de paralaxe */
.parallax-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-height: 200px;
}

.parallax-image-container {
  overflow: hidden;
  position: relative;
  height: 300px;
  max-width: 600px;
}

.parallax-image {
  position: absolute;
  width: 100%;
  height: auto;
  transition: transform 0.1s ease-out;
}

.text-section {
  margin-bottom: 50px;
}

.text-section p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 20px;
}
